/* styles.css */

/* Add your custom styles here */

#body {
  background-color: black;
}

/* Styling for buttons */
.button {
  background-color: black; /* Background color for buttons */
  color: white; /* Text color for buttons */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px; /* Adding rounded corners to buttons */
}

/* Styling for rounded buttons in the tag list */
.rounded-button {
  background-color: black; /* Background color for rounded buttons */
  color: white; /* Text color for rounded buttons */
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius 20px; /* Adding more rounded corners to buttons */
}

/* Styling for the main content container */
.container {
  margin-bottom: 20px;
}

/* Styling for the Add Entry form dialog wrapper */
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Styling for the Add Entry form dialog */
#addEntryForm {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: lightgray; /* Light gray background color for the Add Entry form */
  max-width: 400px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Styling for wide inputs in the Add Entry form */
.wide-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

/* Styling for the displayEntry card */
.card {
  padding: 50px;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: lightgray; /* Light gray background color for cards */
  max-width: 400px;
  margin: 0 auto;
}

.card-content {
  position: relative;
}

.entry-date {
  color: gray;
  font-size: 14px;
  position: absolute;
  margin-top: -30px;
  right: 0px;
}
.entry-index {
  color: gray;
  font-size: 14px;
  position: absolute;
  margin-top: -30px;
  left: 0px;
}

.entry-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.entry-description {
  font-size: 16px;
}

/* Styling for the tag list */
.tag-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.tag-list li {
  display: inline-block;
}

/* Styling for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkslategray; /* Dark slate gray background color for the header */
  color: white; /* White text color for the header */
}

/* Styling for the title */
.title {
  font-size: 36px;
  margin: 0;
}

/* Styling for the button container */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Styling for centering the "Save" button */
.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Styling for the Shuffle button container */
.shuffle-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Styling for the footer */
.footer {
  background-color: darkslategray; /* Dark slate gray background color for the footer */
  color: white; /* White text color for the footer */
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
