/* styles.css */

body {
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif; /* Update or change the font family as needed */
  margin: 0;
  padding: 0;
}

/* Styling for the app header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Updated color */
  color: white;
}

.app-title {
  font-size: 36px;
  margin: 0;
}

/* Add button specific styles */
.add-button {
  background-color: #5cb85c; /* Green color for add button */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* General button styles */
.button {
  background-color: #333; /* Updated color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Styling for rounded buttons in the tag list */
.rounded-button {
  background-color: #666; /* Updated color */
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
}

/* Content area styling */
.content {
  padding: 20px;
}

/* Styling for note card */
.note-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.note-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 20px;
}

.note-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.note-description {
  font-size: 16px;
  color: #333;
}

.tag-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.tag-button-selected {
  background-color: #333;
  color: #f0f0f0;
}

/* Styling for action buttons */
.action-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.action-button.set {
  background-color: #f0ad4e; /* Orange color for set button */
  color: white;
}

.action-button.shuffle {
  background-color: #337ab7; /* Blue color for shuffle button */
  color: white;
}

/* Add Entry Form */
#addEntryForm {
  background-color: white;
  /* Rest of the styles remain unchanged */
}

/* Footer styling */
.app-footer {
  background-color: #333; /* Updated color */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* Changed from absolute to fixed */
  bottom: 0;
  width: 100%;
}

/* Import container hidden by default */
#importContainer {
  display: none;
}

/* Additional responsive styling can be added as necessary */
